# Node
**/node_modules/

# Env files
**/.env
**/.env.*

# Build
**/dist/
**/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
node_modules/
.env
frontend/node_modules/
frontend/dist/
backend/node_modules/
.DS_Store
